<a href="https://colab.research.google.com/github/MaxSMCON/MaxSMCON/blob/main/Group_2_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group 2 Project

## Global food in 

in this project we are going to investigate

In [ ]:
# https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use(style='ggplot')
import seaborn as sns
%matplotlib inline
from IPython.display import display
# Sklearn
from sklearn.model_selection import train_test_split, GridSearchCV 
from sklearn.metrics import f1_score, plot_confusion_matrix
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

from sklearn.svm import SVC
from sklearn import metrics

# StatsModel
from statsmodels.formula.api import ols
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# 1MfuleO34g6ZP1saJ1Ej7J7p4SCWYkAmG1MfuleO34g6ZP1saJ1Ej7J7p4SCWYkAmG
#https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

# https://drive.google.com/file/d/1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY/view?usp=sharing

# Loading the dataset from goolgle drive

In [2]:
!pip install googledrivedownloader #black magic
from google_drive_downloader import GoogleDriveDownloader as gdd
gdd.download_file_from_google_drive(file_id="1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY",
                                    dest_path="./global_food_prices.csv",
                                    unzip=False)
data = pd.read_csv("global_food_prices.csv")
df = data.copy()
df.head()

Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.7/dist-packages (0.4)
Downloading 1SbW8ns8H5HDE0FVH5pvZ5GkGUdPV_RgY into ./global_food_prices.csv... Done.

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adm0_id    adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
0      1.0  Afghanistan      272  ...    2014      50.0                NaN
1      1.0  Afghanistan      272  ...    2014      50.0                NaN
2      1.0  Afghanistan      272  ...    2014      50.0                NaN
3      1.0  Afghanistan      272  ...    2014      50.0                NaN
4      1.0  Afghanistan      272  ...    2014      50.0                NaN

[5 rows x 18 columns]

In [3]:
df = data.copy()
df.head()

   adm0_id    adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
0      1.0  Afghanistan      272  ...    2014      50.0                NaN
1      1.0  Afghanistan      272  ...    2014      50.0                NaN
2      1.0  Afghanistan      272  ...    2014      50.0                NaN
3      1.0  Afghanistan      272  ...    2014      50.0                NaN
4      1.0  Afghanistan      272  ...    2014      50.0                NaN

[5 rows x 18 columns]

In [ ]:
df = df.rename(columns = {'adm0_name' : 'country', 'mkt_name': 'city',} )
df = df.drop(columns= {'adm1_name'})
df.head()

   adm0_id      country  adm1_id  ...  mp_year mp_price  mp_commoditysource
0      1.0  Afghanistan      272  ...     2014     50.0                 NaN
1      1.0  Afghanistan      272  ...     2014     50.0                 NaN
2      1.0  Afghanistan      272  ...     2014     50.0                 NaN
3      1.0  Afghanistan      272  ...     2014     50.0                 NaN
4      1.0  Afghanistan      272  ...     2014     50.0                 NaN

[5 rows x 17 columns]

## Leaving comodity names with the first words

In [ ]:
df['cm_name'] = df['cm_name'].str.split(" ", 1, expand = True)
df['cm_name'].head()

0    Bread
1    Bread
2    Bread
3    Bread
4    Bread
Name: cm_name, dtype: object

In [ ]:
df.head()

   adm0_id      country  adm1_id  ...  mp_year mp_price  mp_commoditysource
0      1.0  Afghanistan      272  ...     2014     50.0                 NaN
1      1.0  Afghanistan      272  ...     2014     50.0                 NaN
2      1.0  Afghanistan      272  ...     2014     50.0                 NaN
3      1.0  Afghanistan      272  ...     2014     50.0                 NaN
4      1.0  Afghanistan      272  ...     2014     50.0                 NaN

[5 rows x 17 columns]