<a href="https://colab.research.google.com/github/MaxSMCON/MaxSMCON/blob/main/Group7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use(style='ggplot')
import seaborn as sns
%matplotlib inline
from IPython.display import display

# #get file from google drive
# !pip install googledrivedownloader #black magic
# from google_drive_downloader import GoogleDriveDownloader as gdd

# gdd.download_file_from_google_drive(file_id="1ibBjLRHOQtZ8e_l4YgSwnpy88LWHl4Nr",
#                                     dest_path="./train-hfp.csv",
#                                     unzip=False)

Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.7/dist-packages (0.4)

In [11]:
url = 'https://raw.githubusercontent.com/MaxSMCON/DataScienceGroup7/main/train-hfp.csv?token=AQMERXZWBIAKV3S3NITPGXTA5TNSY'

data = pd.read_csv(url)

df = data.copy()

In [12]:
df

      male  age  education  ...  heartRate  glucose  TenYearCHD
0        1   39        4.0  ...       80.0     77.0           0
1        0   46        2.0  ...       95.0     76.0           0
2        1   48        1.0  ...       75.0     70.0           0
3        0   61        3.0  ...       65.0    103.0           1
4        0   46        3.0  ...       85.0     85.0           0
...    ...  ...        ...  ...        ...      ...         ...
4235     0   48        2.0  ...       84.0     86.0           0
4236     0   44        1.0  ...       86.0      NaN           0
4237     0   52        2.0  ...       80.0    107.0           0
4238     1   40        3.0  ...       67.0     72.0           0
4239     0   39        3.0  ...       85.0     80.0           0

[4240 rows x 16 columns]

In [14]:
df.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
print("test")

test

In [ ]:
print("hello irina")

hello irina

In [7]:
print('hello')

hello